* {
  /* outline: 1px dotted red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font for Odin logo */
@font-face {
  font-family: "Norse Bold";
  src: url(assets/fonts/Norse-Bold.otf);
}

body {
  display: flex;
  height: 100vh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
  list-style-type: none;
}

main a {
  text-decoration: none;
  color: darkgreen;
}

.sidebar a {
  color: white;
}

.sidebar {
  background-image: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center;
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 3;
}

h1 {
  font-size: 6rem;
  background-color: rgb(0, 0, 0, 0.5);
  margin-top: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 1rem;   /* Compensates for font, which seems to have a padding-bottom of 1rem? */
  font-family: "Norse Bold";
}

h1 img {
  height: 10rem;
  padding-bottom: 1rem;  /* Matches font, which seems to have a padding-bottom of 1rem? */
  margin-right: 0.5rem;
}

.attribution {
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}

/* Main section */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 5;
  background-color: #fafafa;
}

main > * {
  padding: 20px;
}

.hero-text, 
form > *,
.footer {
  margin-left: 20px;
}

.hero-text,
form,
.footer {
flex: 1;
}

/* Hero text section */
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-text > p {
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  width: 85%;
}

/* Form section */
form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  /* Copied from https://getcssscan.com/css-box-shadow-examples */
  min-height: 300px; /* Change this after adding media query? */

  margin-bottom: 10px;
  background-color: white;
}

form > p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

form > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 80px;
  width: 600px;
}

form > ul > li {
  display: flex;
  flex-direction: column;
  width: 250px;
}

input {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

button {
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 15px 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  /* Copied from https://getcssscan.com/css-box-shadow-examples */
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}

button:hover {
  background-color: green;
}

button:active {
  background-color: olivedrab;
}

.footer {
  font-weight: 500;
}